.img-card{
  position: relative;
  display: inline-block;
  width: 340px;
  margin: 30px 0 0 20px;
  border-radius: 20px;
  box-shadow: 0 5px 30px $shadow-color;
  overflow: hidden;
  color: #fff;
  img{
    z-index: -1;
    position: absolute;
    top: -30%;
    width: 100%;
  }
  .container{
    background-color: rgb(183, 183, 183);
  }
  .content{
    padding: 20px 0 0 0;
    text-align: center;
    i{
      font-size: 160px;
    }
  }
  .bottom{
    padding: 0 0 20px 0;
    text-align: center;
    font-size: 60px;
  }
}
