.img-card {
  position: relative;
  display: inline-block;
  width: 340px;
  margin: 30px 0 0 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgb(230,230,230);
  //border: 4px solid $border-color;
  overflow: hidden;
  color: $lighter-text-color;
  img {
    width: 180px;
    height: 180px;
  }
  .container {
    background-color: #fff;
    &:active {
      background-color: rgb(231,244,250);
    }
  }
  .content {
    padding: 20px 0 0 0;
    text-align: center;
    i {
      font-size: 160px;
    }
  }
  .bottom {
    padding: 0 0 20px 0;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
}
