.img-card{
  position: relative;
  display: inline-block;
  width: 340px;
  margin: 30px 0 0 20px;
  border-radius: 20px;
  border: 4px solid $border-color;
  overflow: hidden;
  color: $lighter-text-color;
  img{
    z-index: -1;
    position: absolute;
    top: -30%;
    width: 100%;
  }
  .container{
    background-color: #fff;
    &:active {
      background-color: $green-color-back;
    }
  }
  .content{
    padding: 20px 0 0 0;
    text-align: center;
    i{
      font-size: 160px;
    }
  }
  .bottom{
    padding: 0 0 20px 0;
    text-align: center;
    font-size: 60px;
  }
}
