.mint-cell{
  position: relative;
  padding: 20px 30px;
  border-bottom: 1px solid $border-color;
  min-height: 0;
  .mint-cell-wrapper{
    min-height: 0;
    background: none;
  }
  .left-wrap{
    display: block;
    width: 70%;
  }
  .right-wrap{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }
  h3{
    margin: 0 0 10px 0;
    font-size: 34px;
    font-weight: 300;
    color: $theme-color;
  }
  .explain{
    margin: 0;
    font-size: 28px;
    color: $main-text-color;
  }
  .mint-cell-title{
    font-size: 30px;
  }
}
