.mint-header {
  z-index: 1000;
  padding: 0 40px;
  height: 90px;
  font-size: 34px;
  font-weight: 400;
  color: $main-text-color;
  background-color: $body-color;
  border-bottom: 1px solid $border-color;
  .mint-header-button {
    color: $light-text-color;
  }
}
