.mint-radiolist {
  .mint-cell {
    position: relative;
    padding: 20px 30px;
    border-bottom: 1px solid $border-color;
    .mint-radiolist-label {
      padding: 0;
    }
    .mint-radio-label {
      margin: 0;
      font-size: 30px;
      line-height: 40px;
    }
  }
  .mint-radio {
    .mint-radio-core {
      width: 40px;
      height: 40px;
      &::after {
        top: 7px;
        left: 7px;
        width: 24px;
        height: 24px;
      }
    }
  }

}
