.mint-tabbar {
  border-top: 1px solid $border-color;
  background-color: #fff;
  .mint-tab-item {
    height: 70px;
    padding: 15px 0;
    &.is-selected {
      background-color: #fff;
    }
  }
  .mint-tab-item-icon {
    width: 45px;
    height: 45px;
    font-size: 45px;
  }
  .mint-tab-item-label {
    font-size: 20px;
    color: $main-text-color;
    p{
      margin: 0;
    }
  }
}
