table {
  border-color: $border-color;
  background-color: rgb(231,244,250);
  border-radius: 10px;
  tr{
  }
  th {
    font-size: 30px;
    text-align: center;
  }
  td {
    font-size: 28px;
    text-align: center;
  }
}
