.index-detail {
  .index-rate {
    padding: 20px;
    text-align: center;
    font-size: 30px;
  }
  .tag-info {
    padding: 20px;
    font-size: 26px;
    text-align: center;
    span {
      margin-right: 40px;
    }
    i {
      margin-right: 10px;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
    .lock-info {
      i {
        background-color: $red-color;
      }
    }
  }
  .simple {
    i {
      margin: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
    .lock-tag {
      background-color: $red-color;
    }
    .position-tag {
      background-color: rgb(57, 40, 79);
    }
  }
  .today-info-wrap{
    padding: 30px;
    .item{
      font-size: 30px;
      display: inline-block;
      width: 48%;
    }
  }
}
