.login-wrap {
  position: relative;
  margin: 200px auto 0 auto;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  h3 {
    text-align: center;
    font-size: 56px;
  }
  .input-item {
    margin-bottom: 60px;
    width: 100%;
  }
  input {
    padding: 0 60px;
    width: 100%;
    height: 60px;
    font-size: 34px;
    border: none;
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
}
