.my-focus {
  .no-record {
    margin-top: 300px;
    width: 100%;
    text-align: center;
    color: $lighter-text-color;
    i {
      color: rgb(70,155,157);
      font-size: 300px;
    }
    p {
      font-size: 45px;
      font-weight: bold;
      color: rgb(70,155,157);
    }
  }
}
