.my-net-value-line {
  .info {
    padding: 0 0 30px 0;
    font-size: 24px;
    span {
      display: inline-block;
      width: 49%;
    }
  }
  .info-big {
    padding: 0 0 30px 0;
    font-size: 24px;
    span {
      display: inline-block;
      width: 49%;
    }
  }
  .my-net-value-info {
    margin: 20px 0;
    font-size: 28px;
    span {
      margin-right: 1.5em;
    }
  }
  table {
    margin: 20px 0 40px 0;
    border-color: $border-color;
    background-color: rgb(235, 235, 235);
    th {
      font-size: 30px;
      text-align: center;
    }
    td {
      font-size: 28px;
      text-align: center;
    }
  }
  .time-wrap {
    padding: 20px 30px;
    font-size: 30px;
    span {

    }
    button {
      float: right;
      width: auto;
      height: auto;
    }
  }
  .time-list {
    margin: 0;
    padding: 0;
    font-size: 30px;
    .time-item {
      display: block;
      margin: 0;
      padding: 20px 30px;
      border-bottom: 1px solid $border-color;
      text-align: center;
    }
  }
  .mint-popup-bottom {
    border-top: 5px solid $border-color;
    width: 100%;
    background-color: #fff;
    max-height: 500px;
    overflow-y: scroll;
  }
}
