.my-net-value-line{
  .info{
    padding: 0 0 30px 0;
    font-size: 24px;
    span{
      display: inline-block;
      width: 49%;
    }
  }
  .info-big{
    padding: 0 0 30px 0;
    font-size: 24px;
    span{
      display: inline-block;
      width: 49%;
    }
  }
}
