.my-fund{
  .info-wrap{
    background-color: #fff;
    color: #222;
    padding: 30px 0;
    .item {
      padding-left: 30px;
      font-size: 34px;
    }
  }
  .card{
    margin: 20px 0 30px 0;
    box-shadow: 0 5px 30px $shadow-color;
    .title{
      margin: 0;
      padding: 15px 30px;
      font-size: 40px;
      color: $theme-color-second;
      text-align: center;
      border-bottom: 1px solid $border-color;
    }
  }
  .item{
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
  }
}
