.operating-info{
  .explain{
    span{
      display: inline-block;
      padding: 5px 10px;
      width: 15%;
      color: #fff;
      background-color: #eee;
      text-align: center;
      &.buy{
        background-color: $red-color;
      }
      &.sell{
        background-color: $green-color;
      }
    }
  }
  .sell {
    background-color: $green-color-back-3;
  }
  .buy{
    background-color: $red-color-back-3;
  }
  .has-tag{
    margin-left: 1em;
    font-size: 26px;
    padding: 0 0.3em;
    border-radius: 4px;
    &.sell {
      border: 2px solid $green-color;
      color: $green-color;
    }
    &.buy{
      border: 2px solid $red-color;
      color: $red-color;
    }
  }
}
