.operating-info{
  .explain{
    span{
      display: inline-block;
      padding: 5px 10px;
      width: 15%;
      color: #fff;
      background-color: #eee;
      text-align: center;
      &.buy{
        background-color: $red-color;
      }
      &.sell{
        background-color: $green-color;
      }
    }
  }
  .sell {
    background-color: rgba(57, 181, 74, 0.3);
  }
  .buy{
    background-color: rgba(181,57,74, 0.3);
  }
  .has-tag{
    margin-left: 2em;
    font-size: 26px;
    padding: 0 0.3em;
    border: 1px solid $blue-color;
    color: $blue-color;
    border-radius: 4px;
  }
}
