.principle-wrap{
  padding: 30px;
  .principle-block{
    h3{
      font-size: 30px;
    }
    ol{
      margin: 0;
      li{
        margin: 0;
        padding: 5px 0;
        font-size: 26px;
      }
    }
  }
}
