.mint-navbar{
  .mint-tab-item{
    padding: 20px 0;
    .mint-tab-item-label{
      font-size: 34px;
    }
  }
}
.mint-tab-container{
  z-index: -10;
}
.strategy-list{
  .item{
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
  }
  .mint-badge{
    font-size: 30px;
  }
  .explain{
    margin: 10px 0;
  }
}

