.today-index {
  .mint-cell {
    border-radius: 20px;
    border: none;
    margin-bottom: 10px;
  }
  .mint-cell-wrapper {
    overflow: visible;
  }
  .btn-list-wrap {
    .main-btn {
      display: inline-block;
    }
  }
  .rate-info-icon {
    position: absolute;
    left: -25px;
    top: 0;
    height: 100%;
    width: 30px;
    .up{
      color: $red-color;
    }
    .down{
      color: $green-color;
    }
  }
}
