@charset "UTF-8";

@import "_var";

@import "component/header";
@import "component/tabbar";
@import "component/switch";
@import "component/cell";
@import "component/card";
@import "component/field";
@import "component/button";
@import "component/toast";
@import "component/messagebox";
@import "component/radio";

@import "page/login";
@import "page/myFund";
@import "page/strategy";
@import "page/fund-detail";
@import "page/my-net-value-record";
@import "page/my-net-value-line";

body{
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

::-webkit-scrollbar-thumb {
  background: #bebdbd;
  border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
  opacity: .5
}

::-webkit-scrollbar-track-piece:decrement, ::-webkit-scrollbar-track-piece:increment {
  background: #f5f5f5
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $theme-color;
}

.main-body{
  margin-top: 90px;
}

.has-bar{
  margin-bottom: 90px;
}

.net-line{
  height: 450px;
}

.red-text {
  color: $red-color !important;
}

.green-text {
  color: $green-color !important;
}

.grey-back{
  background-color: rgba(180,180,180, 0.2);
}

ul{
  margin: 0;
  padding: 0;
}

.content{
  padding: 30px;
  font-size: 30px;
}
