@charset "UTF-8";
//@import "_var.scss";

.app-navbar {
  $header-height: 50px;

  position: fixed;
  min-width: 100%;
  height: $header-height;
  z-index: 1024;
  background-color: $theme-color;
  box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);

  .nav-left {
    position: absolute;
    left: 0;
    .nav-item {
      line-height: 50px;
      margin-left: 10px;
      color: white !important;
      :hover {
        color: #d1dbe5;
      }
    }

    .app-name {
      margin-left: 20px;
      color: white;
      font-size: 20px;
      font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", "Courier New";
    }
  }
  .nav-right {
    position: absolute;
    right: 0;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-align: right;

    .header-btn {
      margin-right: 10px;
    }
  }

  .btn-refresh {
    color: #ffffff;
    line-height: $header-height;
    .fa-refresh {
      vertical-align: middle;
      width: 35px;
      &:hover {
        color: $theme-color-second;
      }
    }
  }
  .el-dropdown-link {
    color: white;
    line-height: $header-height;
    margin-right: 20px;
    &:hover {
      color: $theme-color-second;
    }
  }

  .icon-user {
    vertical-align: middle;
    margin-right: 5px;
  }
}

.dropdown-menu {
  li i {
    margin-right: 10px;
  }
}

.hero-brand {
  .vue {
    margin-left: 10px;
    color: #36AC70;
  }
  .admin {
    color: #28374B;
  }
}
